 

<div class="book-wrapper" id="book-wrapper">
<button (click)="processPreviousBook()" class="button">Previous book</button>
<div class="book-placeholder">

  <div class="book-placeholder--title">
  Title: {{BookCollection[index].title}}
  </div>

  <div class="book-placeholder--description">
  Description: {{BookCollection[index].description}}
  </div>

  <div class="book-placeholder--author">
  Author: {{BookCollection[index].author}}
  </div>

  <div class="book-placeholder--rating">
   Current rating: {{BookCollection[index].rating}}
  </div>

  <div class="book-rating-buttons">
    <button (click)="processRating(1)" class="button">&#8902;1</button>
    <button (click)="processRating(2)" class="button">&#8902;2</button>
    <button (click)="processRating(3)" class="button">&#8902;3</button>
    <button (click)="processRating(4)" class="button">&#8902;4</button>
    <button (click)="processRating(5)" class="button">&#8902;5</button>
  </div>
  
  @if(index>=BookCollection.length){
<div>
  You rated all of the books<br>
  <button onclick="continueRating()">I want to rate again</button>
  <button onclick="hideAll()">No I am fine</button>
</div>
}
</div>


<button (click)="processNextBook()" class="button">Next book</button>



</div>
<div class="book-placeholder--edit" id="book-edit">
  <div class="book-placeholder--title">

    Title: <input  [(ngModel)]="modelTitle"  type="text" placeholder="Title of book" >

</div>

<div class="book-placeholder--description">

  Description:<textarea [(ngModel)]="modelDescription" style="width: 300px;"  rows="9" placeholder="Description of book"></textarea>

</div>

<div class="book-placeholder--author">

  Author: <input [(ngModel)]="modelAuthor" type="text" placeholder="Author of book" >

</div>
</div>
  <button (click)="processNewData()" type="submit">Submit changes</button>

